color-palette {
    color: #28282B;
    color: #DB162F;
    color: #FFFCF9;
    color: #2292A4;
    color: #08B2E3;
}

body {
    margin: 0;
    padding: 0;
    background-color: #28282B;
    color: #FFFCF9;
    font-family: 'Cabin', sans-serif;
}

#header {
    background: linear-gradient(#28282B, #28282B,#28282Bd8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
  }
  
  #header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #header li {
    display: inline-block;
    margin: 0 10px;
  }
  
  #header li a {
    display: block;
    color: #FFFCF9;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 16px;
  }
  
  #header li a:hover {
    font-weight: bolder;
  }

#logo a {
    float: left;
    margin-left: 20px;
}

#home-link {
    float: right;
    margin-left: 60%;
    text-align: right;
}

#main {
    font-size: 15px;
    padding-left: 200px;
    padding-right: 200px;
}

#footer {
    font-size: 15px;
    text-align: center;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: #FFFCF9;
}

* {
    scroll-behavior: smooth;
}

.card {
    width: 100px;
    transition: transform 0.1s ease, width 0.5s ease;
    transform-style: preserve-3d;
    will-change: transform;
}

.card:hover {
    width: 110px;
    transform: translateZ(10px);
}

.dropdown {
    display: inline-block;
}

.dropdown-trigger {
    cursor: pointer;
    transition: opacity 0.5s ease;
    overflow: hidden;
}

.dropdown-word {
    display: inline-block;
    transition: opacity 0.5s ease;
}

.dropdown-arrow {
    display: inline-block;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.dropdown-menu {
    position: absolute;
    top: 80%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #28282B;
    border: 1px solid #FFFCF9;
    border-top: none;
    border-left: none;
    opacity: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: opacity 0.5s ease;
    transition: transform 0.5s ease;
    transform: scaleY(0);
    transform-origin: top;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 0.5s ease;
}

.dropdown:hover .dropdown-arrow {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}