color-palette {
    color: #28282B;
    color: #DB162F;
    color: #FFFCF9;
    color: #2292A4;
    color: #08B2E3;
}

.red-text {
    color: #cd342e;
}

.green-text {
    color: #8fbc3a;
}

.blue-text {
    color: #367dc0;
}

.yellow-text {
    color: #efd13d;
}

.pink-text {
    color: #c41f6c;
}

.purple-text {
    color: #7d317c;
}

.cyan-text {
    color: #039388;
}

.orange-text {
    color: #ef963c;
}