.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    animation: spin .85s linear infinite;
}

.uno-card, .uno-card-wild, .uno-card-flip, .uno-card-flex, .dos-card {
    width: 160px;
    height: 240px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    scale: .5;
}

.uno-card {
    background-image: url("../cards/uno-back.png");
}

.uno-card-wild {
    background-image: url("../cards/uno-back-wild.png");
}

.uno-card-flip {
    background-image: url("../cards/uno-back-flip.png");
}

.uno-card-flex {
    background-image: url("../cards/uno-back-flex.png");
}

.dos-card {
    background-image: url("../cards/uno-back-dos.png");
}

.loaded body {
    overflow: auto;
}

body:not(.loaded) .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1f;
    z-index: 9999;
}

body.loaded .loader-wrapper {
    display: none;
}

body.loaded main {
    display: block;
}

main {
    background-color: #28282B;
    display: none;
}

/** ANIMACJE */
@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1.0);
    }

    50%{
        transform: rotate(180deg) scale(1.3);
    }

    100% {
        transform: rotate(360deg) scale(1.0);
    }
}