.box {
    transition: transform .1s ease, width .5s ease, scale .5s ease;
}

.card {
    width: 100px;
    transition: transform .1s ease, width .5s ease, scale .5s ease;
}

.card:hover {
    /* transform: translateZ(10px); */
    scale: 1.2;
}

.box:hover {
    /* transform: translateZ(10px); */
    scale: 1.2;
}

.card-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: left;
    margin-right: 20px;
    height: 150px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.card-view {
    margin-top: 10px;
}

.card-container,
.card-container-mobile {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-description {
    height: 150px;
}

.card-description,
.card-caption {
    margin-left: 20px;
    display: table-cell;
    vertical-align: middle;
}

.card-caption,
.card-caption-mobile,
.card-caption-mobile p,
.card-caption p {
    text-align: center;
}

.card-caption {
    padding-right: 100px;
}

.card-caption-mobile {
    padding-right: 50px;
    display: table-cell;
    vertical-align: middle;
}

#pc-version {
    display: block;
}

#mobile-version {
    display: none;
}

@media only screen and (max-width: 735px) {
    #pc-version {
        display: none;
    }

    #mobile-version {
        display: block;
    }
}