color-palette {
    color: #28282B;
    color: #DB162F;
    color: #FFFCF9;
    color: #2292A4;
    color: #08B2E3;
}

body {
    margin: 0;
    padding: 0;
    background-color: #28282B;
    color: #FFFCF9;
    font-family: 'Cabin', sans-serif;
    background-color: rgba(0, 0, 0, 0);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 50px;
    background: linear-gradient(#28282B 50%, #28282b80 85%, #28282B06);
    overflow-x: hidden;
    overflow-y: hidden;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#header li {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: scale(1.2) rotate(16deg) matrix(1.2, -0.1, 0, 1.2, 0, 0);
    transition: transform 0.5s ease;
}

#header li img {
    height: auto;
    width: 80px;
}

.arrow,
.arrow-conatiner {
    display: none;
}

@media (max-width: 600px) {
    #header {
        top: -2px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 60px;
        position: relative;
    }

    #header ul::-webkit-scrollbar {
        display: none;
    }

    #header li {
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #header ul {
        margin-top: 5px;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-left: 165px;
        scroll-behavior: smooth;
    }

    .arrow,
    .arrow-container {
        display: block;
    }

    .arrow-container {
        /* border: 1px solid #000000; */
        background-color: #28282B;
        border: 2px solid #FFFCF9;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100px;
    }

    .arrow {
        width: auto;
        height: 20px;
        opacity: 50%;
        padding-left: 5px;
        padding-right: 5px;
    }
}