#footer {
    background-color: #28282B;
    font-size: 15px;
    text-align: center;
    height: 20px;
    text-shadow: 2px 2px 0px #000000, 4px 4px 0px rgba(0, 0, 0, 0.201);
    -webkit-text-stroke-width: 1px black;
}

.pokaz {
    opacity: 0;
}

#footer a {
    color: #f0dc44;
    opacity: 0.5;
    transition: opacity .5s ease;
}

#footer a:hover {
    opacity: 1;

    .pokaz {
        opacity: 1;
    }
}